@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is just a project to play around with API's in one place.</p>
<h4><a href="www.jeffreyPlongo.com">JeffreyPLongo.com</a></h4>
