@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="www.jeffreyplongo.com">JeffreyPLongo.com</a>
</address>

<address>
    <strong>Mail:</strong>   <a href="jeffreylongo@knights.ucf.edu">Jeff Longo</a><br />
</address>