@{
    ViewBag.Title = "Home Page";
}


<br />
<hr />

<ul class="ApiList">
    <li>@Html.ActionLink("Hacker News", "Index", "HackerNewsStory")</li>
    <li>@Html.ActionLink("Aljazeera", "Index", "AljazeeraNews")</li>
</ul>

<br />

<h3>This site was built using newsAPI.org</h3>